
.customTable th{
	text-align: left !important;
	padding-left: 10px !important;
  color: #666666;
}
.customTable table {
    border-collapse: collapse;
}

.customTable table, th, td {
    border: 1px solid #ebeff2;

}


.customTable td{
	text-align: left;
}

.tabletitle{
	margin-left: 4px !important;
	font-family: 'Roboto', sans-serif !important;
}

.numdata{
	text-align: center !important;
}

#searchsubmit{
	border-radius: 5px;
	margin-top: 6px;
}

.panel{
	/*padding: 15px !important;*/
}

.filter{
	float: right;
}

.customTable{
  overflow: scroll;
	/*overflow-x: auto !important;*/
	width: 100% !important;
  position:relative !important;
}
.customTable th{
  width:auto;
  white-space:nowrap;
}
.whiteSpace{
  white-space:nowrap;
}
.customTable > thead > tr > th{
  border-top: 1px solid #ebeff2;
  line-height: 1.42857;
  padding: 8px;
  /*text-align: left !important;*/
  color: #666666;
  font-weight: 600;
}
.customTable > tbody > tr:nth-of-type(2n+1){
  background-color: #f4f8fb !important;
}
.customTable > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}
.customTable > tbody > tr > td, .customTable > tbody > tr > th, .customTable > tfoot > tr > td, .customTable > tfoot > tr > th, .customTable > thead > tr > td, .customTable > thead > tr > th{
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

th span{
  padding:2px !important;
}


.customTable > tbody > tr > td{
  position: inherit !important;
}


.fixed_table_header
{
  position: fixed;
  top:20px;
  background-color: #f4f8fb !important;
  /*width: 500px !important;*/
}
.fixed_scrollbar_top{
  position: fixed;
  top:0;
  z-index: 9999;
}


/* Important part */
#modal-dialog{
    overflow-y: initial !important
}
#contractor_arrang_column{
    height: 450px;
    overflow-y: auto;
}

.exportnew{
  margin-right: 1% !important;
}


.drag_columns:hover{
  cursor: pointer !important;
}

.container-fluid_table {
/*width: 1200px !important;*/
overflow-y: hidden;
}

.header_row{
  background: #f4f8fb ;
}
