@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../fonts/proximanovaaltbold-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaaltbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('../fonts/proximanovaaltlight-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaaltlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altregular';
    src: url('../fonts/proximanovaaltregular-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaaltregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altsemibold';
    src: url('../fonts/proximanovaaltsemibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaaltsemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_altthin';
    src: url('../fonts/proximanovaaltthin-webfont.woff2') format('woff2'),
         url('../fonts/proximanovaaltthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}