/*
File: Responsive
*/
@media(min-width: 1600px){



}
@media(max-width: 1440px){
  div#task_flyout {
    width: 78%;
}
 td a.btn-sm  { display: inline-block;}

}
@media (max-width: 1366px) {
  div#task_flyout {width: 76%;}
  .page-title{font-size: 17px;}
  /*.form-control { font-size: 13px; }*/
  .header-title { font-size: 14px; }
  td a.btn-sm  { display: inline-block;}
  .sidebar-inner {overflow: auto!important;}
    
}
@media(max-width: 1280px)
  .card-box-wrap>.panel-default>.panel-heading {
    height: auto;
    display: flow-root;
  }
  /* td a.btn-sm{display: initial;} */
  td a.btn-sm  { display: inline-block;}
  #prepare_order_edit {
    left: 40%;
  }
}
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (max-width: 1024px) {
  .logOutDiv button.btn.btn-default.dropdown-toggle{font-size: 12px;}
  .sticky-back {left: -249%;}
  .wrap-1024{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    float: none !important;}
  div#task_flyout {
    width: 68%;
    top: 95px;
}
  .stikySection.affix {
    width: 72.6%;
    top: 95px;
  }
  #prepare_order_edit {
    left: 40%;
  }
  /*.desktopSortByFilter{display: none;}*/
  .sortDashboard{width: 100%;}
  .side-menu{top: 75px;width: 250px;}
  .dashboard-side-menu {top: 136px;}
  .senior_manager_table tbody tr td .btn{margin-bottom: 8px!important;padding:3px 14px;}
  .m-b-30 {margin-bottom: 10px !important;}
  .speaker-info{display: none;}
}
@media (max-width: 1023px) {
  
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden; /*change for ipad*/
  }
}
@media (max-width: 991px){  
  .m-t-5{margin-top: 5px;}
}
@media (max-width: 768px) {
  .custdatatable .form-control.k-gold{width: 65px;}
  .loginPage .wrapper-page{width: 52%;}

  ul.nav.navbar-nav.navbar-right.logOutDiv {
    float: right;
    margin: 10px 0;
    display: inline-block;
}
ul.nav.navbar-nav.navbar-right.logOutDiv .dropdown{
  float: right;
}
ul.nav.navbar-nav.navbar-right.logOutDiv .open .dropdown-menu{
  position: absolute;
  background-color: #fff;
  left: auto;
  right: 0;
      -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(152, 166, 173, 0.15);
}
ul.nav.navbar-nav.navbar-right.logOutDiv .dropdown{
  margin: 13px 0;
}
.navbar-nav>li {
    float: left;
}
ul.nav.navbar-nav.navbar-right.logOutDiv .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
  i#openslidMenu {
    line-height: 3.8;
  }
  .navbar-default .button-menu-mobile{
    display: block;
    float: left;
    margin-left: 20px;
  }
/*  #sales_invoice_table button.btn.btn-primary.small.loader-hide {
    margin-top: 9px;
}*/
/*#sales_invoice_table a.btn.btn-info.small.loader-hide {
    margin-top: 5px;
}*/
  .btn.btn-primary{
        /*margin-bottom: 10px;*/
    }
   /* button#Receive_Product_btn {
    margin-top: 10px;
  }*/
  #issue_voucher_form button#Receive_Product_btn, #metal_issue_voucher_form button#Receive_Product_btn{
    margin-top: 0;
  }
  .form-control {
    margin-bottom: 10px;
}
button.btn.btn-primary.waves-effect.waves-light..btn-md.qc_accept.float_btn {
    left: 49%;
}

.stikySection.affix-top {
    display: block;
    /* float: left; */
    position: relative;
    /*height: 135px;*/
}
.stikySection.affix {
    width: 95%;
  }
  span.profile-text {
    /*display: none;*/
}
  div#task_flyout {
    width: 90%;
    margin-top: 5px;
}
  #prepare_order_edit {
    left: 30%;
  }
  .side-menu #sidebar-menu > ul > li > a {
    width: 205px;
  }
  .topbar .topbar-left .logo {
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}
  ul.dropdown-menu.profile-log.navbar-right {
    right: 25px;
    padding: 0;
}
  body {
    overflow-x: hidden; /*hidden to auto*/
  }
  td a.btn-sm {
    display: inline-block;
}
/*td a.btn-sm:first-child{
  margin-bottom: 5px;
  width: 100%;
}*/
  /*.side-menu {
    position: absolute !important;
  }*/
  .enlarged .left.side-menu {
    margin-left: -300px;
  }
  .topbar-left {
    width: 70px !important;
  }
  .topbar-left span {
    display: none !important;
  }
  .topbar-left i {
    display: block !important;
    line-height: 75px !important;
  }
  .content-page .content {
    margin-top: 95px;
  }
  .content-page .dashboard-content{
    margin-top: 150px; 
  }
  .topbar .topbar-left {
    height: 75px;
  }
  .navbar-default {
    background-color: #ffffff;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  .notification-box ul li a,
  .page-title {
    color: #435966;
  }

 
  
  .content-page {
    margin-left: 0px !important;
  }
  .footer {
    left: 0px !important;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
  div#datatable-buttons_info {
    float: none;
  }
  .ms-container {
    width: 100%;
  }
  .table-responsive {
    border: 1px solid rgba(238, 238, 238, 0.2);
    overflow-x: auto;
  }
  
  /* Search */
  .app-search a {
    top: 9px;
    right: 20px;
    color: rgba(152, 166, 173, 0.7);
  }
  .app-search a:hover {
    color: #98a6ad;
  }
  .app-search .form-control,
  .app-search .form-control:focus {
    border: 1px solid rgba(152, 166, 173, 0.15);
    font-size: 13px;
    height: 34px;
    color: #435966;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 18px;
    margin-left: 20px;
    background: rgba(152, 166, 173, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 190px;
  }
  input.app-search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
  }
  input.app-search-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input.app-search-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input.app-search-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  .desktopLogo{display: block;}
  .ipadLogo{display: block;}
  .ipadLogo img{width: 60px;}

  .breadcrumbs ul{display: none;}

  .navbar-nav.logOutDiv::before {
    content: " ";
    border-left: none;
    padding-top: 75px;
    position: absolute;
}
.topbar .navbar-default { height: 80px; }
.navbar .nav>li>a{
  padding: 0 20px;
}



/*  .topbar .navbar .nav .profile-log .ams-header-logout-link .zmdi {
    font-size: 23px;
    margin-top: -9px;
    margin-right: 49px;
    line-height: 1;
}*/

.ams-header-logout-link, .notification_bell_wrap {
    float: right;
    margin-top: 0;
    position: relative;
    right: -1px;
    width: 100%;
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
}
.confirm_btn_class { padding: 3px 10px !important; }
.btn-link {  
    font-size: 11px !important;
    padding: 4px 7px !important;
    font-weight: 600;
}
h4.inlineBlock          { font-size: 15px; }
form.form-horizontal h4 { font-size: 13px;}
.form-horizontal .control-label { font-size: 12px;}
 #sidebar-menu > ul > li > a,#sidebar-menu>ul>li.has_sub a span { font-size: 14px }
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {  background: #202631;width: auto;font-size: 13px }
}
  
}

/* Container-alt */
@media (min-width: 768px) {

 .dataTables_filter label i {
    position: absolute;
    top: 32%;
    left: 3%;
}
.card-box.box-shadow, .box-shadow {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    float: left;
    width: 100%;
}
  .container-alt {
    width: 750px;
  }
  .nav-tabs.nav-justified > li > a {
    border-bottom: 2px solid #eeeeee;
  }
}
@media(max-width: 750px){

  .btnFilter{margin-top: 0px;}

.buton_bottom {
    margin-bottom: 8px;
}

.panel-heading .btn        { width: auto;display: inline-block;}
/*.frmHeading                { margin: 0 !important}*/
  
}
@media (min-width: 992px) {
  .container-alt {width: 970px;}
  .filter_btn button{float: right;}
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
@media (max-width: 480px) {
  .loginPage .card-box{width: 100%;}
  .sticky-back {left: -94% !important;}
  .right-480 .pull-right  {text-align: center;}
  h4.bmsmheader span {
    width: auto;
    float: left;
}
   .float_btn {left: 36%;}
  div#task_flyout {
    width: 81%;
}
  
  .side-menu {
    z-index: 10 !important;
  }
  
  .search-bar {
    display: none !important;
  }
/*.send-karigar{margin-top: 15px;}*/
/*.panel-heading .pull-right { float: none !important; }*/
/*.panel-heading .btn        { width: auto;display: block;margin: 5px auto!important;}*/
/*.frmHeading                { margin: 0 !important}*/


 }
@media (max-width: 419px) {

  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    display: none !important;
  }
  .wrapper-page .logo span {
    display: inline-block !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .forced .side-menu.left {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }
  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  .page-title {
    font-size: 15px;
    line-height: 67px;
    max-width: 250px;
    white-space: nowrap;
  }
  .navbar-default {
    padding: 0px;
  }
  .navbar-default .navbar-left {
    padding-left: 0px !important;
  }
  .navbar-default .navbar-left li {
    padding: 0px 5px;
  }
 
  .editable-responsive {
    overflow-x: auto;
  }
  #message #message-nano-wrapper {
    top: 150px;
  }
  #message .header .page-title {
    color: #98a6ad;
  }
  #message .header {
    border-bottom: none;
  }
  .profile-info-name img {
    float: none;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  div.hopscotch-bubble .hopscotch-bubble-container {
    max-width: 180px;
  }
  .card-box #datatable_filter { float: left; margin-top: 15px; }
}
@media (max-width:1400px) {

  .actiity-planning-card-box { min-height:404px; }

  .activity_planning_pie_chart { padding-top:37px; }

  .amountSpend-amnt{ font-size: 3em; line-height: 50px; }
  table.table-bordered tbody th, table.table-bordered tbody td { word-break: break-all; }
}
@media (max-width: 767px) and (min-width: 426px){
  
}
@media (max-width: 767px) {   
  /*.print_area .image_div .img.pull-right{float: unset !important;}*/
  /*.print_detail{float: none !important;margin: 0 auto;text-align: center;}*/
  /*.print_table{margin: 0 auto;}*/
  .view-video{width: 190px;height: auto;}
  #daily_order_received_from_karigar_tbl, #daily_order_received_tbl, #report_summary_departmentWise_tbl, #delivery_report_in_qty_tbl, #client_order_ledger, #karigar_order_ledger{margin-top: 15px;}
  .view-img{margin-bottom: 30px;}
  #sales_invoice .form-control{width: auto;}
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
  .float_btn{left: 43%;}
  .table-resp{overflow-x: scroll;}  
  table.table {
    /* white-space:nowrap; */
}
table.table-bordered tbody th, table.table-bordered tbody td { word-break: break-all; }
  #prepare_order_edit{
      left: 30%;
    }
  .content-page .content {
    margin-top: 95px;
}
   /*.topbar .ams-dashboard-topbar-left { display:block; position:absolute; background:transparent; top:0px; left:88px; top: -7px;}
   .topbar .ams-dashboard-topbar-left img { width:81px; }
   .navbar.navbar-default { padding:0px; }*/


.dataTables_filter label i {
    position: absolute;
    top: 37%;
    left: 16px;
}
.logoBox a img.small_logo { display: block;margin-left: 13px;margin-top: 15px; }
.logoBox a img.desktopLogo { display: none; }
}


@media (max-width: 420px) {
  img.logo.desktopLogo {
    margin-left: 50px;
}
  button.btn.btn-primary.waves-effect.waves-light..btn-md.qc_accept.float_btn {
    left: 40%;}
  
  .hide-phone {
    display: none !important;
  }
}
   .actiity-planning-card-box .legend {  position: absolute; top:106%; left:10px; }
   .actiity-planning-card-box .legend div { left:0px !important; top:0px !important; }
   .actiity-planning-card-box .legend table  { left:0px !important; width:200px !important; }
   .plan_activity_button { float:left; margin: 9px 0px; }
   .actiity-planning-card-box { min-height: 460px; }
   .card-box { padding: 20px 15px;}
   div.dataTables_length, div.dataTables_filter { text-align: left !important; }
   table.senior_manager_table { min-width: 806px; }
   .dataTables_info { width:auto; float: left; margin-right: 15px; }
   .header-title span{ width:100%; float: left; margin-bottom:8px; }
   .header-title button { float: left; margin-bottom: 13px !important; }
   div.dataTables_length label { margin-bottom: 10px; }
   table.senior_manager_table { min-width: 851px;}
   .dashboard-button-menu-mobile { line-height:61px; }
    .apcb2 { padding-bottom: 117px; }
    .activity_planning_pie_chart { padding-top:0px; }
    .ams-dashboadr-nav li:first-child { width:100%; }
    .ams-dashboadr-nav li .page-title { line-height:19px; }
    .ams-dashboadr-nav li:nth-child(2) { float:left; margin-top:13px; margin-bottom: 12px;}
    .ams-dashboadr-nav li:nth-child(3) { float: right; margin-top:13px; }
    .ams-dashboadr-nav li:nth-child(3) a { padding:0px; }
    .ams-dashboadr-nav li:nth-child(3) a .zmdi  { margin-top: 0px; }
    /*.content-page .content { margin-top:114px; } */
    .header-title button { margin-bottom:12px !important; } 
    div.dataTables_length label { margin-bottom:12px; }
    .amountSpend1 .amountSpend-amnt, .amountSpend .amountSpend-amnt { font-size: 2.5em; }
    .amountSpend1 .amountSpend-rupee, .amountSpend .amountSpend-rupee { margin-top:3px; font-size:1.5em; }
    .amountSpend-total { font-size:1.2em; }
    .calender_adjacent_card_box { min-height:auto; }
    .fc-view { margin-top:12px; }

    /*.ams-navbar-dashboard li:first-child { width:100%; }*/

 
    

     .bedcrumb_header{position: relative;}


     .ams-header-logout-link { float:right; margin-top: 30px; }
     .amountSpend { position:relative !important; top:0px !important; }
     .amountSpend-total { font-size: 1.4em !important; }
     .amountSpend { position: relative; }
     .activity-report-header-title .btn { float: right; margin-top: 0px; }
     .ams-header-logout-link , .notification_bell_wrap {
    margin-top: 0px;
    right: 25px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px
  }
  .dropdown.open a.dropdown-toggle {
    padding: 0;
    float: left;
    width: 12px;
    top: -62px;
    right: -40px;
}
    .topbar .navbar .nav .profile-log .ams-header-logout-link .zmdi {
    font-size: 23px;
    margin-top: -9px;
    margin-right: 2px;
    line-height: 1;
  }
     .notification_bell_wrap { right:21px; }
     .ams-header-logout-link .zmdi , .notification_bell_wrap .zmdi { font-size:17px; }
     .bcc_status  thead tr th:nth-child(4) , .money_matter_table  thead tr th:nth-child(4) , .business_manager_status  thead tr th:nth-child(6) , .senior_manager_status  thead tr th:nth-child(5) , .plan_activity_table  thead tr th:nth-child(7) , .plan_activity_table_bm thead tr th:nth-child(8) , .book_activity_table thead tr th:nth-child(9) { width:45px !important; padding-right:90px; position: relative;}
     .bcc_status thead tr th .select2-container,  .money_matter_table thead tr t
h .select2-container, .business_manager_status thead tr th .select2-container, .senior_manager_status thead tr th .select2-container, .plan_activity_table thead tr th .select2-container, .plan_activity_table_bm  thead tr th .select2-container, .book_activity_table thead tr th .select2-container { position: absolute; right:33px; top:5px; }
     #notification_count { width:15px; height:15px; border-radius:100%; line-height:15px; font-size:9px; top:14px;  right:-1px; }
     /*.content-page .content { margin-top:113px; }*/
     /*.logOutDiv{position: absolute;top:0;right: 0;}*/
     .activity_card .text-center { text-align: left; }
     .sortDashboard li:nth-child(2) { float: none; }
     .sortByMonthDashboard { width: 100%; clear: both; }
     .sortDashboard li:first-child{ display: inline-block;vertical-align: top;width: auto; }
     .desktopLogo { display: block; }
    .ipadLogo { display: none; }
    div.dataTables_filter input { width: auto; }
    .speaker-info-row { margin-bottom: 20px; }
    #dynamic_field .col-sm-3, #dynamic_field .col-sm-1 { margin-bottom: 20px; }
    .side-menu { /* overflow-y: scroll; */ height: auto; padding-bottom: 10px; }
    .empty-fields-div.text-center{text-align: center;}
    .mobile-txt-center{text-align:center;}
    .card-box #datatable_length{display: none;}
    .custom-search-link{padding:0;}
    .sarch_search_link.pull-right{float: left!important;}
    .left.side-menu .slimScrollDiv{height:100%!important;}
    .sidebar-inner{height:100%!important;}
    
     /*18/1/2017*/
    #dashboardDataDiv.sortDashboard li:first-child { line-height:30px; margin-top:0px !important; }
    .navbar-default #dashboardDataDiv.sortDashboard li { padding: 0px 4px; }
    #dashboardDataDiv.sortDashboard li a { padding:4px 18px; }
    .sortByMonthDashboard_wrap { padding: 6px 0 8px; }
    .sortByMonthDashboard_wrap  form { width: 100%; float: left; }
    .sortByMonthDashboard_wrap form .form-control { height:32px;  padding:7px 9px; font-size:13px;}
    .no_pad { padding: 0px; }
    .sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap { margin-top:0px !important; margin-left:0px; }
    .sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap .btn {  font-size: 14px; height:30px; left:10px; padding:3px 9px; position:relative; }
    .sortByMonthDashboard_wrap .sortByMonthDashboard  {  padding:3px 0 7px;  float:left; }
    .dashboard-side-menu { top:128px; }
    .actiity-planning-card-box .activity_planning_pie_chart .flot-chart#pie-chart-container {  left:50%; margin-left:-115px; margin-top:10px; }
    .card-box { padding:10px 15px 15px; }
    .header-title { font-size: 18px;  padding-bottom: 10px; }
    .actiity-planning-card-box { min-height: 439px; }
    .calender_card_box #calendar .fc-toolbar .fc-right { display: none; }
    .calender_card_box #calendar .fc-toolbar .fc-left { width:50%; float: left; }
    .calender_card_box #calendar .fc-toolbar .fc-center { width:50%; float: right; } 
    .calender_card_box #calendar .fc-toolbar .fc-center  h2 { float: right; }
    .MM-list-Card, .BCC-report-Card { min-height: auto; }
    .actiity-planning-card-box.activity_card .widget-chart text { font-size:13px !important; }
    .footer {  padding:18px 25px 14px; }
    .business_manager_header_title { margin-bottom: 2px !important; overflow: hidden; padding-bottom: 4px; }
    .business_manager_header_title span {  margin-bottom:4px; }
    .business_manager_header_title button { margin-bottom: 9px !important; }
    .business_manager_header_title + .dataTables_wrapper  .custom_search_wrap { display: none; }
    .business_manager_header_title + .dataTables_wrapper #datatable_filter { margin-bottom: 8px; margin-top: 11px; }
    .closed_activity_custom_search_wrap { float:left; margin:0px; padding:0px; }
    .closed_Activity_datatable .custom_search_wrap { display: none; }
    .closed_Activity_datatable #datatable_filter { margin-bottom:10px; }
    .custom_search_div { padding-bottom:2px; padding-top:8px; margin-top:4px; }
    .custom_search_div .form-horizontal .control-label { margin-bottom:4px; margin-top:9px; }
    .actiity-planning-card-box .legend { left:35px; }
    ul.chart-detail-list { text-align: center; }
    ul.chart-detail-list { left:50%; margin-left:-90px; position:relative; text-align:left; width:180px; }
    ul.chart-detail-list li h5 {  margin:7px 0; }
    .form-horizontal .arf-form-group { width:100%; min-width:510px; }
    table.arf-edit-table { min-width:510px; }
    table.arf-edit-table tbody tr td:nth-child(1) { width:70px; }
    table.arf-edit-table tbody tr td:nth-child(2) { width:242px; }
    table.arf-edit-table tbody tr td .assigned_bm_field { width:115px; }
    table.arf-edit-table tbody tr td:nth-child(4), table.arf-edit-table tbody tr td:nth-child(3) { width: auto; }
    .side-bar { width: 75%!important;}
  }





 .enlarged { display:inherit !important; }
 @media(max-width:375px){
  .sticky-back {
    left: -57% !important;
}
  img.logo.desktopLogo {
    margin-left: 3px;
}
 

   
 }
   @media (max-width: 320px) { 
    .stikySection.affix {width: 90% !important;}
    .stikySection.affix .send-karigar{margin-top: 8px;}
    .wrap-320{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    float: none !important;}
    img.logo.desktopLogo {margin-left: 0px;}
    div#task_flyout {width: 75%;}
    #prepare_order_edit{left: 10%;}
  }

  @media (min-width: 481px) and (max-width: 580px){
    .panel-heading .btn{margin-top: 5px;}
  }

  @media (min-width: 769px) and (max-width: 1024px){    
    .ams-header-logout-link, .notification_bell_wrap{right: 0;}
    .navbar .nav>li>a{padding: 5px 15px;}
    .navbar-right{margin-right: -24px;}
  }
 
@media (min-width: 320px) and (max-width: 480px){
  .panel-heading .single-send{float: right!important;}
}

@media (min-width: 425px) and (max-width: 480px){
  .stikySection.affix {width: 94%;}
  #prepare_order_edit {left: 20% !important;}
  .panel-heading .single-receive{float: right!important;}
}

@media (min-width: 375px) and (max-width: 480px){
  .panel-heading .single-add{float: right!important;}
}

@media (min-width: 480px) and (max-width: 550px){
  .panel-heading .single-assign{float: right!important;}
}

 /*@media (max-width: 620px){
  .change-karigar{margin-top: 15px;}
 }*/

 @media (min-width: 550px) and (max-width: 750px){
  .white_color_font h4{font-size: 25px;}
 }

 @media (max-width: 550px){
  .loginPage .wrapper-page {width: 73% !important;}
 .btn-wrap{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    float: none !important;}
  }

 @media (max-width: 425px){
  .logOutDiv button.btn.btn-default.dropdown-toggle{font-size: 12px;}
  .stikySection.affix {width: 93%;}
  .change-karigar{margin-top: 8px;}
 .btn-wrap2{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    float: none !important;}
    .stikySection.affix-top{height: 220px;}
  img.logo.desktopLogo {margin-left: -15px;}
    .navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0px;
    margin: 0px; }
.desktopLogo {
    display: block;
    padding: 0 0 0 0px;}
.topbar .topbar-left .logo {
    height: 30px;
    width: auto;
    margin-top: 20px;}
 .zmdi-settings{display: none;}
.form-horizontal .form-group .label_bottom {
    padding-top: 24px;}
.buton_bottom{margin-bottom: 8px;}
  }

 @media (max-width: 360px){  
  .stikySection.affix {width: 92%;}
  .sticky-back {left: -21% !important;}
 .btn-wrap3{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    float: none !important;} 
  .stikySection.affix-top{
      height: 225px;
    }
    img.logo.desktopLogo {
    margin-left: 40px;
}
    #prepare_order_edit {
    left: 10%;
  }
}

 @media (max-width: 640px){
  .sticky-back {left: -176%;}
  img.logo.desktopLogo {margin-left: 25px;}
 .wrap-big{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    float: none !important;}
  }

 @media (min-width: 375px) and (max-width: 424px){
  .stikySection.affix {width: 92%;}
  #prepare_order_edit {left: 17%;}
 }


@media (min-width: 551px) and (max-width: 640px){
 .loginPage .wrapper-page {
    width: 62% !important;
}
}

@media (min-width: 1280px) and (max-width: 1365px){
  .stikySection.affix{width: 78.3%;}
}

@media (min-width: 1366px) and (max-width: 1439px){
  .stikySection.affix{width: 79.4%;}
}
@media (min-width: 1440px) and (max-width: 1599){
  .stikySection.affix{width: 79.4%;}
}

@media (min-width: 1280px){
  .print_form .btnFilter{float: left;}
  .print_form #Apply_Filter{float: left;}
}
