

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{font-family:  'montserratregular', sans-serif;font-size:14px;font-weight: 400}
.ipadLogo{display: none;}
.mobileSortByFilter{display: none;}
/*preloader css start*/
.preloader{position: fixed;top: 0%;width: 100%;height:100%;right: 0px;background:rgba(255, 255, 255, 1) none repeat scroll 0 0;z-index: 9999;}
.loading {position: absolute;top: 50%;left: 50%;}
.loading-bar {display: inline-block;width: 4px;height: 18px;border-radius: 4px;animation: loading 1s ease-in-out infinite;}
.loading-bar:nth-child(1) {background-color: #3498db;animation-delay: 0;}
.loading-bar:nth-child(2) {/*background-color: #c0392b;*/background-color: #c7dde3;animation-delay: 0.09s;}
.loading-bar:nth-child(3) {background-color: #3498db;animation-delay: .18s;}
.loading-bar:nth-child(4) {/*background-color: #27ae60;*/background-color: #c7dde3;animation-delay: .27s;}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

/*ajaxLoader css start*/
.ajaxLoader { position: fixed;top: 0%; width: 100%;height:100%;right: 0px;background:rgba(255, 255, 255, 0.7) none repeat scroll 0 0;z-index: 9999;}
/*ajaxLoader css end*/

label{font-weight:500;font-size: 14px;color:#666;}
.asterisk { color:red; }
#morris-donut-example1 label{font-family: 'Karla',sans-serif;font-size:15px;}
.form-horizontal .control-label{position: relative;}
.amountSpend{left: 0;position: absolute;right: 0;text-align: center;top: 45%;}
.amountSpend-rupee {display: inline-block;font-size: 2em;margin-top: -7px;vertical-align: top;color: #29a863;}
.amountSpend-amnt {display: inline-block;font-size:4.2em;font-weight: bold;margin-bottom: 0;line-height: 75px;color: #888;}
.amountSpend-total{color: #29a863;font-size: 1.5em;font-weight: bold;}
.required-text{color: #f5393d;position: absolute;right: 0;}
#tabLinks .active a{background-color: #188ae2;color:#fff;}
.nav-tabs > li > a{border:transparent;}
.nav-tabs > li > a:hover{color: #188ae2;}
.nav > li > a:focus, .nav > li > a:hover{ background-color: transparent;}
.view-all-link{color: #71b6f9;font-size: 13px;font-weight: 600;}
#datatable_length{float: left;margin-bottom: 20px;}
.toolbar {float:left;}
#dataFilter{display: none;}
select.input-sm{height: 36px;}
.input-sm{height: 36px;}


/****** Button css *********/
/*Btn green clr(View)*/
.btn-green ,
.btn-yellow,
.btn-lightpurple,
.btn-red,
.btn-darkpink{
	color: #ffffff !important;
}
.btn-green {
	background-color: #3d9970 !important;
	border: 1px solid #3d9970 !important;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.focus,
.btn-green:active,
.btn-green:focus,
.btn-green:hover,
.open > .dropdown-toggle.btn-green {
	background-color: #3d9970 !important;
	border: 1px solid #3d9970 !important;
}

/*Btn yellow clr(Edit)*/
.btn-yellow {
	background-color: #ff851b !important;
	border: 1px solid #ff851b !important;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.btn-yellow.focus,
.btn-yellow:active,
.btn-yellow:focus,
.btn-yellow:hover,
.open > .dropdown-toggle.btn-yellow {
	background-color: #ff851b !important;
	border: 1px solid #ff851b !important;
}

/*Btn lightpurple clr(Send)*/
.btn-lightpurple {
	background-color: #605ca8 !important;
	border: 1px solid #605ca8 !important;
}
.btn-lightpurple:hover,
.btn-lightpurple:focus,
.btn-lightpurple:active,
.btn-lightpurple.active,
.btn-lightpurple.focus,
.btn-lightpurple:active,
.btn-lightpurple:focus,
.btn-lightpurple:hover,
.open > .dropdown-toggle.btn-lightpurple {
	background-color: #605ca8 !important;
	border: 1px solid #605ca8 !important;
}

/*Btn red clr(Delete)*/
.btn-red {
	background-color: #ff5b5b !important;
	border: 1px solid #ff5b5b !important;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.focus,
.btn-red:active,
.btn-red:focus,
.btn-red:hover,
.open > .dropdown-toggle.btn-red {
	background-color: #ff5b5b !important;
	border: 1px solid #ff5b5b !important;
}

/*Btn dark pink clr(Approve)*/
.btn-darkpink {
	background-color: #E91E63 !important;
	border: 1px solid #E91E63 !important;
	color:white;
}
.btn-darkpink:hover,
.btn-darkpink:focus,
.btn-darkpink:active,
.btn-darkpink.active,
.btn-darkpink.focus,
.btn-darkpink:active,
.btn-darkpink:focus,
.btn-darkpink:hover,
.open > .dropdown-toggle.btn-darkpink {
	background-color: #E91E63 !important;
	border: 1px solid #E91E63 !important;
	color:white;
}

/*for Save, Back, Create, Plan - btn-primary
for Cancel - btn-default*/

/********** Text CSS ***********/
.txt-success{color:#5cb85c;}
.txt-danger{color:#ff2828;}


/*.table{border: 1px solid #eee;}*/
/*.table-responsive > .table-bordered{border: 1px solid #fff;}

#datatable .form-control{border:0 none; background:none; border-radius:0px; margin-left: -3em;}
thead {background-color: #fafafa;}
th {color: #666;font-size: 15px;font-weight: 500;text-transform: capitalize;}
.table > thead > tr > th{border-bottom: medium none;}
/*.table-striped > tbody > tr:nth-of-type(2n+1), .table-hover > tbody > tr:hover, .table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th{background-color: #fff ;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{border: medium none;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th, .table-bordered {border-top: 1px solid #ebeff2;vertical-align: top;}
.fc-right .fc-button-group {visibility: hidden;}
#datatable .form-control{border:0 none; background:none; border-radius:0px; margin-left: -71px;}
#datatable .select2-container .select2-choice .select2-arrow{border:0 none; background:none;}
#datatable  .select2-container .select2-choice .select2-arrow b{background: rgba(0, 0, 0, 0) url("../images/funnel.png") no-repeat scroll 0 1px;height:20px; width:18px;}
.status-head{position: relative;z-index: 99;}
#datatable .select2-container .select2-choice{ line-height: 25px !important;}
.input-daterange input{text-align: left;}
.help-icon{display: inline-block;margin-top: 8px;color: #98a6ad;font-size: 18px;}
.nav-tabs > .active > a, .nav-tabs > .active > a:focus, .nav-tabs > .active > a:hover{border-bottom: 2px solid #188ae2!important;border-top: 2px solid transparent!important;border-left: 2px solid transparent!important;border-right: 2px solid transparent!important;color:#188ae2!important;background-color: transparent!important;}
.MM-list-Card, .BCC-report-Card{min-height:325px;}
.close_msg_popup {font-weight: bold;position: absolute;right: 15px;top: 6px;}
.fc-widget-header{margin-right: 0px!important;}
.fc-day-grid-container.fc-scroller{height:auto!important;}
.download-files{display: inline-block;}
.speaker-details .required-text {right: -10px;}
.fc-today-button{opacity: 0;}

/*border css start*/
.b-primary{ border: 1px solid #139FDA;}
/*border css end*/
.inlineBlock{
	display: inline-block;
}
/*Dashboard sort by css start*/
.sortDashboard{width:46%; margin-top: 15px;}
.sortDashboard li a {padding: 6px 20px;}
.sortDashboard li a:hover, .sortDashboard li a:focus{background-color: #139FDA!important;color: #fff!important;}
.sortDashboard li a.activeDashboard{background-color: #139FDA;color: #fff;}
.sortByMonthDashboard{display: none;}
.sortByWeeklyDashboard{display: none;}
.select2-container{width: 100px !important;}
.planing_status_div{min-height:400px;}
/*Dashboard sort by css end*/

/*Custom Search css*/
.custom_search_div{display: none;background-color: #f8f8f8;padding-bottom: 8px;padding-top: 25px;}
.inactiveLink {pointer-events: none;cursor: default;}
.status_custom{position: relative;z-index: 9;}
.upload-profile-pic {display: inline-flex;align-items: center;position: absolute;right:0;top:60px;}
.upload-profile-pic i.fa-camera {margin: 0px;cursor: pointer;font-size: 20px;}
/*.upload-profile-pic i:hover {opacity: 0.6;}*/
.upload-profile-pic input {display: none;}
.img-thumbnail{width:88px;height: 88px;}
.tooltip {min-width:200px;}
.empty-fields-div {left: 0;position: absolute;right: 0;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);}

/*18/1/2107*/
.sort_by_title { margin-top:6px !important; }
.sortDashboard { margin-top: 18px; }
.sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap { margin-left:10px; }
 .sortByMonthDashboard_wrap form .form-control ,  .sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap .btn { height:36px;  margin-top: 0 !important;  padding: 3px 10px; }
  .sortByMonthDashboard_wrap .sortByMonthDashboard .sortByMonthDashboard_go_btn_wrap { margin-top: 0 !important; }
  /*19/1/2017*/
  .senior_manager_table tbody tr td .btn, .book_activity_table tbody tr td .btn , .plan_activity_table tbody tr td .btn { padding:1px 5px; width: auto; margin-bottom:0px !important; background: transparent !important;
color:#0696d7 !important; border:0px !important; font-size:15px; margin-left:7%;  line-height:20px;}
.book_activity_table tbody tr td .btn , .plan_activity_table tbody tr td .btn{ margin-left:10px;  }
.senior_manager_table tbody tr td .btn +  .tooltip, .book_activity_table tbody tr td .btn +  .tooltip 
, .plan_activity_table tbody tr td .btn +  .tooltip , .plan_activity_table tbody tr td .btn .send_for_approval_wrap +  .tooltip  { text-align: center; }
.senior_manager_table tbody tr td .btn +  .tooltip .tooltip-inner, .book_activity_table tbody tr td .btn +  .tooltip .tooltip-inner
, .plan_activity_table tbody tr td .btn +  .tooltip .tooltip-inner
, .plan_activity_table tbody tr td .btn .send_for_approval_wrap +  .tooltip  .tooltip-inner {  display: inline-block; background: #361F65; margin:auto; padding-top:4px; 
padding-bottom:3px;  }
.senior_manager_table tbody tr td .btn +  .tooltip .tooltip-arrow, .book_activity_table tbody tr td .btn +  .tooltip .tooltip-arrow 
, .plan_activity_table tbody tr td .btn +  .tooltip .tooltip-arrow 
, .plan_activity_table tbody tr td .btn .send_for_approval_wrap +  .tooltip  .tooltip-arrow { border-color:#361F65 transparent transparent transparent; }

.closed_Activity_datatable table tr td .download-files .btn-info { background-color: #139fda!important;
border: 1px solid #139fda !important; height: 26px; width: 26px; line-height: 26px; }
.closed_Activity_datatable table tr td .download-files .btn-info  .ti-download { font-size:12px; color:#fff !important; }
/*.closed_Activity_datatable table tr th:nth-child(7), .closed_Activity_datatable table tr td:nth-child(7), 
.closed_Activity_datatable table tr th:nth-child(8), .closed_Activity_datatable table tr td:nth-child(8),
.closed_Activity_datatable table tr th:nth-child(9), .closed_Activity_datatable table tr td:nth-child(9) { text-align: center; }*/
.business_manager_bm_ho_card_box { min-height:404px; }
ul.dashboard_sort_by_menu li { position: relative; }
ul.dashboard_sort_by_menu li .sortByDashboard { position:absolute; background:none repeat scroll 0% 0% #FFF;
float: left; z-index:12; padding:7px; top:100%;  background-color:#FAFAFA; border-radius:2px;
box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.1), 0px 13px 19px 2px rgba(0, 0, 0, 0.05), 0px 5px 24px 4px rgba(0, 0, 0, 0.05); margin-top: 4px;}
ul.dashboard_sort_by_menu li .sortByDashboard input, ul.dashboard_sort_by_menu li .sortByDashboard button { height: 34px; }
ul.dashboard_sort_by_menu li .sortByDashboard .field_wrap {}
ul.dashboard_sort_by_menu li .sortByDashboard .btn_wrap {}
table.senior_manager_table tr th .select2-container .select2-choice .select2-chosen { font-size: 0px; }
ul.dashboard_sort_by_menu li .sortByDashboard  .field_wrap { width:168px; }
ul.dashboard_sort_by_menu li .sortByDashboard  .field_wrap .input-daterange { width:100%; }
ul.dashboard_sort_by_menu li .sortByDashboard  .btn_wrap { width: 46px; margin-left:7px;}
ul.dashboard_sort_by_menu li .sortByDashboard.sortByWeeklyDashboard { width:236px; }
ul.dashboard_sort_by_menu li .sortByDashboard.sortByMonthDashboard, ul.dashboard_sort_by_menu li .sortByDashboard.sortByDateRangeDashboard { width:304px; }
ul.dashboard_sort_by_menu li .sortByDashboard .month_dashboard_field_wrap { width: 235px; }
.form-control { padding: 4px 7px 4px 10px; margin-bottom: 5px;height: 34px;}
ul.dashboard_sort_by_menu li .sortByDashboard.sortByCyclesDashboard { width:298px; }
ul.dashboard_sort_by_menu li .sortByDashboard  .cycle_field_wrap { width: 229px; }
ul.dashboard_sort_by_menu li .sortByDashboard  .cycle_field_wrap select { width: 110px; height: 34px; margin-right: 7px; }
ul.dashboard_sort_by_menu li .sortByDashboard  .cycle_field_wrap input { width: 110px; }
.plan_activity_table tbody tr td .btn  { margin-right:7px; margin-left:0px; }

/*speaker list*/
.speaker_btn_wrap { float:right; } 
.speaker_btn_wrap .file_box input { display: none;  }
.speaker_btn_wrap  .file_box { width:130px; }
.speaker_btn_wrap  .file_box ,.speaker_btn_wrap .btn { float: left; margin-left:8px;  }
.speaker_btn_wrap  .file_box label { width: 100%; border: 0px solid #167CCB !important; border-radius: 2px; font-size: 13px;
height: 27px; position: relative;}
.speaker_btn_wrap  .file_box label i { border-radius: 2px; position: absolute; right: 0px; top:0px; float: right; height: 29px; line-height: 29px; font-style: normal; color: #FFF;
background-color: #139FDA !important; width:130px; text-align: center; border-bottom: 2px solid #139FDA !important; } 
.speaker_btn_wrap  .file_box label span { height:25px; line-height:25px; padding:0px 117px 0px 5px; float:left; width:100%;
overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.speaker_btn_wrap  .file_box label i:hover { background-color:#139FDA!important;}
.add_cycle_wrap { padding-left: 118px; text-align: center; }
.add_cycle_wrap  button { display: inline-block; }
.closed_Activity_datatable table.dataTable thead > tr > th:nth-child(7), .closed_Activity_datatable table.dataTable thead > tr > th:nth-child(8),
.closed_Activity_datatable table.dataTable thead > tr > th:nth-child(9) { padding-right: 8px; }
.senior_manager_create_activities table tbody tr td .btn { float: left; }
.senior_manager_create_activities table tbody tr td .btn i.zmdi { font-size:18px; }
.senior_manager_create_activities table tbody tr td .approve_btn { margin-left: 0px; }
.senior_manager_create_activities table tbody tr td .reject_btn { margin-left: 5px; }
table.book_activity_table thead tr th .select2-container .select2-choice > .select2-chosen { visibility: hidden; }
table.book_activity_table thead tr th { padding-right: 8px; }
table.book_activity_table thead tr th:nth-child(8) { width:75px; }
.sortDashboard { width:52%; }	
.business_manager_bm_chart .legend table { right:15px !important; }
table.book_activity_table thead tr th:nth-child(8) .select2-container {  }
.brand_manager_select2_container .select2-container { width:100% !important; }
.brand_manager_select2_container .select2-container-multi .select2-choices .select2-search-choice-close { top:3px; }
.arf_header_title { padding-bottom: 10px; }
.arf_save_cancel_btn_wrap { text-align: center; }
.arf_save_cancel_btn_wrap .btn { display: inline-block; }
.form-horizontal  .arf-form-group { margin-left: 0px; margin-right: 0px; }
table.arf-edit-table tbody tr td:nth-child(1), table.arf-edit-table tbody tr td:nth-child(4) { width:10%; }
table.arf-edit-table tbody tr td:nth-child(2) { width:50%; }
table.arf-edit-table tbody tr td:nth-child(3) { width:30%; }
table.arf-edit-table tbody tr td .form-group { margin-bottom: 0px; }
table.arf-edit-table tbody tr td .assigned_bm_field { min-width:115px; }
.arf_header_title .fa-angle-up , .arf_header_title.active  .fa-angle-down { display: none; }
.arf_header_title.active .fa-angle-up ,  .arf_header_title .fa-angle-down  { display:block; }
.arf_header_title .fa { float: right; margin:5px 18px 0px 0px; font-size:17px; }

/*.activities_across_arf_wrap, .amount_spent_card_box_wrap { min-height:391px;}*/
.assigned_bm_table#datatable .form-control { background-color: #ffffff;
 border: 1px solid #e3e3e3; border-radius: 4px; box-shadow: none; color: #565656; height: 38px;
 max-width: 100%; padding: 7px 12px;  transition: all 300ms linear 0s;
}

.activities_across_arf_wrap, .amount_spent_card_box_wrap { min-height:404px; }
.activities_across_arf_wrap .chart-detail-list , .business_manager_bm_ho_card_box .chart-detail-list { text-align: center; }

/************* css start by Deepti ***************/
.focus-btn-group { display: none; }
.bg-grey{background-color: rgba(152, 166, 173, 0.1);}
.notification-list .list-group-item { display: inline-block;width: 100%; }
.user-list-item { float: left;width: 70%; }
.notification_icon { float: right; }
.notification_icon p { float: left;padding: 0 5px; }
.notification_icon p i {font-size: 18px;}
.user-desc span{display: block;}
.user-desc .date{color:#435966; font-size: 12px;}
.table-rep-plugin .table-responsive {border: 1px solid #eee;}
.table-responsive[data-pattern="priority-columns"]{overflow:hidden!important;}
.selectwidth{width: 100% !important;}
#assign_bm .form-group{margin-bottom: 0;}

/*custom tooltip css start*/
.approved-tooltip, .reject-tooltip{width: auto; margin-bottom:0px !important; background: transparent !important;
color:#337ab7 !important; border:0px !important; font-size:15px; line-height:20px;}
.approved-tooltip +  .tooltip, .reject-tooltip +  .tooltip{ text-align: center; }
.approved-tooltip +  .tooltip .tooltip-inner {  display: inline-block; background: #361F65; margin:auto; padding-top:4px; padding-bottom:3px;  }
.reject-tooltip +  .tooltip .tooltip-inner {  display: inline-block; background: #361F65; margin:auto; padding-top:4px; padding-bottom:3px;  }
/*custom tooltip css end*/
.dropdown-menu .checkbox{margin:0;}
/******** css end by Deepti ****************/

.custdatatable .form-control{border:0 none; background:none; border-radius:0px; margin-left: -61px;}
.custdatatable .select2-container .select2-choice .select2-arrow{border:0 none; background:none;}
.custdatatable  .select2-container .select2-choice .select2-arrow b{background: rgba(0, 0, 0, 0) url("../images/funnel.png") no-repeat scroll 0 1px;height:20px; width:18px;}
.custdatatable  .status-head{position: relative;z-index: 99;}
.custdatatable .select2-container .select2-choice{ line-height: 25px !important;}
.input-daterange input{text-align: left;}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #188ae2;
  border-color: #188ae2;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
/*.toggle-vis{overflow: visible !important;opacity:1 !important;} */

/********************************css by mandar*****************/
.ui-autocomplete scroll-bar{ width: 5px!important; }
#addHotel .zmdi-minus{ padding-top: 10px; }
.ui-autocomplete scroll-bar{ width: 2px!important; }
#hotelAddMoreData .zmdi-plus{padding-top: 10px;}
#datatable .fa-edit{ margin-left: 10%; }
#plan_activity .table-responsive{ margin-bottom:0px; }

textarea.form-control { resize: none; }
.dataTables_filter input{ margin-top: 10px; }
.brdradius{ border-radius: 18px; border: 1px solid #139FDA; background: none!important;  padding: 6px 20px;color: #777!important; }
.brdradius:hover{background-color: #139FDA !important;color: #FFF !important;} 
/*.table-responsive { overflow-x: hidden; }*/
.dropup{ float: right; margin-right: 50px;  position: relative;}
.onclickdiv{position: absolute; left: -165px; top: -20px!important; bottom: auto!important;}
.abm-dashboard-table table thead tr th:nth-child(3) {text-align: left;}
.margright{ padding-right: 20px!important; }
.margright .status_custom{ margin-right: 14px; }
.margright .select2-container a:first-child span{ margin-left: 85px; }
.totalmrg{font-weight: 900; }
.subtotal{ padding-left: 1px; text-align: left; font-weight: 900; }
.subamount{float: right; margin-right: 91px; font-weight: 900;}
.totalmrg_bm{font-weight: 900; }
.subtotal_bm{ padding-left: 1px; text-align: left; font-weight: 900; }
.subamount_bm{float: right; margin-right: 91px; font-weight: 900;}
.fa-check:before { columns: #000!important }
.margbott{ margin-bottom: 0px!important; }
.paddbott{ padding: 20px 20px 0 20px; }
.margbott .table-responsive{ margin-bottom: 0px!important; }
.fixedbtn{ position: fixed; z-index: 9999; right: 40px; bottom: 220px; }
.parntonclick {
    float: left;
    height: 100px;
    position: fixed;
    width: auto;
    z-index: 999;
    bottom:208px;
    right: 0;
}
.totalerow{ margin-top: -42px; }
.totalerow_bm { margin-top: -82px; }
.selectedbgcolor { background-color: #139fda !important;color: #fff !important; }
.sm_activities table tbody tr td a.btn { padding: 3px 8px; }
.weekly { display: none!important; }
.brdnone { border:none!important; }
.totalerow table tbody tr td { border-top:none; }
.card-box ul li.checkbox-row label::after { top: -2px!important; padding-top: 0!important; }
#createdSMTable_wrapper #createdSMTable thead th:nth-child(8) .status_custom{ margin-right: 10px; }
.select2-drop{ width: 120px!important; }
.paddbt{ padding:20px 20px 30px 20px; }
.paddbt .abm-dashboard-table { margin-bottom: 10px; }
.sortby{ display: none; }

/**********************************END*************************/

/***Aarohi 30th July 2018***/
table.table th i.fa { font-size: 12px;color: #398bf7;}  
table.table.dataTable th,.table > thead > tr > th { padding: 4px 5px; background-color: #F5F5F5;border-bottom: 0;font-size: 14px; }
.panel-default > .panel-heading { background-color: #ffffff }
h1,h2,h3,h4,h5,h6 { font-family: 'montserratsemibold'; }

.btn-link      { padding: 0; font-size: 13px !important; padding: 4px 12px !important; font-weight: 600;}
body           { background-color: #f4f6f9}
body table     { padding: 3px 5px; color: #393d42 !important; font-family: 'montserratregular', sans-serif;font-weight: 400;font-size: 13px;}
.table>tbody>tr>td  { padding: 3px 5px; }
.btn  { font-family: 'montserratregular'; }
table.table-bordered td   { border:1px solid #ebeff2 !important; }
h4.inlineBlock { display: inline-block; color: #398bf7;font-weight: bold;font-size: 16px;}
/*#sidebar-menu > ul > li > a,#sidebar-menu ul ul a  { color: #ffffff }*/
.table > thead > tr > th{ border:1px solid #ebeff2 !important; }
.table > thead > tr > td { border:1px solid #ebeff2 !important; }
.panel-heading   { padding: 10px 20px 10px }
.btn.btn-primary { font-size: 12px }
/*.form-inline select.form-control { max-width: 80%; }*/
.textDate  { width: 100% !important; }

.m-b-0   { margin-bottom: 0 !important }    
.p-tb    { padding: 5px 10px}
.m-l-5   { margin-left: 6px;}
.m-b-10  { margin-bottom: 10px } 

.listDetails      { border: 1px solid #8c8a8a;border-top: 0;padding:10px; }
.marginTopBottom8 { margin-top: 8px;margin-bottom: 8px;}

.currentDate            { color: #fff }
form.form-horizontal h4 { font-size: 14px; }
.form-horizontal .control-label { color: #000;font-size: 13px; }
.form-control         { padding: 4px 7px 4px 10px;margin-bottom: 0px;height:30px;font-size: 13px;}
textarea.form-control { min-height: 40px;}
.header-title         { line-height: 18px; }
.form-inline select.form-control   { width: 100%;min-width: 135px; }
select.form-control option { max-width: 100%;white-space: normal;text-overflow: ellipsis}
hr { margin-top: 10px; margin-bottom: 10px; }
.panel-body h3 { font-size: 15px; }
.form-group    { margin-bottom: 10px; }



/*************************************Media Query****************/
@media only screen and (max-width: 767px) {
#customer_order_form{margin-top: 50px;}
.table-responsive { overflow-x: auto; }
#smTable thead th:nth-child(5) span { margin-right: 6px; }
.custdatatable .select2-container .select2-choice .select2-arrow b { background: url("../images/funnel.png") no-repeat scroll 0 1px!important;height:20px; width:18px; margin-left: 4px; }
.scrollhidden{ overflow-x: hidden; }
.fixedbtn{ bottom: 65px;right: 15px; }
.onclickdiv{left: -152px;top: 143px!important;}
.custdatatable .form-control{ margin-left:-69px; }
.dataTables_filter{ visibility: visible; }
/*.dataTables_wrapper .row:first-child{ height: 10px; }*/
.sarch_search_link.pull-right { margin-left: 120px; padding-bottom: 10px; }
.closed_Activity_datatable{ margin-top: 20px; }
.Customright{ float: right; margin-bottom: 0; }
.right-bar{ width: 100%!important; }
.fc-event-container .fc-content span.fc-title:first-letter { color: #f91ea5!important; }
.activities_across_arf_wrap, .amount_spent_card_box_wrap{ min-height: auto; }   
.box { display: none; }
.box li{ list-style: none; }  
.weekly{ display: block!important; }    
.ams-navbar-dashboard li:nth-child(2) .page-title { height: 20px!important; }
.sortby{ padding-bottom:15px;  }
.marginbott{ margin-bottom: 10px; }
.box .btn_wrap .btn-primary{ padding: 8px 10px; }
.red .input-daterange{ width: 100%; }
.red{ background: #000; }
.table-responsive { margin-bottom: 10px; }
.paddbott { padding: 10px 15px!important; }
.paddbott .view-all-link { padding-top:10px; }
h4.bmsmheader span{ width:100%; float: left;  }
h4.bmsmheaderbm span{ width:49%; float: left; font-size: 16px;  }
.bmsmheaderabm{ height: auto; }
/*.padmobile{ padding: 15px!important; }*/
.lineheight{ width: 49%; line-height: 0; }
.lineheight_bm{ width: 51%; line-height: 0; }
.lineheight_bm a button.add_senior_manager_button{ padding: 3px 2px; }
.padmobile .bmsmheader{ margin-bottom: 8px!important; }
.lineheight a button .fa-plus{ font-size: 14px; }
.addsmlable{ float: left;line-height: 30px;width: 30%;}
.texalin{ text-align: center; margin-top: 29px;}
.cyclepaddleft{ padding-left: 0px; }
.abmbtn{ float: right!important; margin-right: 10px; }
.arfpadd{ padding-bottom: 10px; }
.arfpaddtop{ padding-top: 5px; }

.inputfildwidth { float: left;
                  margin-right: 10px;
                  width: 90%; }

 .padno { padding:0px; margin: 0px; } 
 .floright .pull-right{margin-left: 127px!important;  float: right!important; }  
 .custommarbottam{ margin-bottom: 5px; }
 .lablepadd{ padding-top: 8px; }
 .searchied .dataTables_filter{ display: none; }
 .searchiedabm #datatable_wrapper .table-responsive { margin-bottom: 0px; }
 .savemarleft{ margin-left: 60px; }
 .bm_dashboard{ min-height: auto; }
 .bm_dashboard .table-wrapper .table-responsive { margin-bottom: 0px; }
 .closechart li:first-child{ margin-left: 0; padding-left: 0; }
 .arfchart li:first-child{ margin-left: 3px; padding-left: 0; }
 .creatactivitilable{ padding-right: 0px; }
 .sortby{ display: block; }
 .Plan_Activity_martop{ margin-top: 0px!important; }
 .scrollhidden table th:nth-child(6) .select2-container{ position:static; }
 .planmargintop{ margin-top: 25px; }
 .confirm_btn_class{
    padding: 3px 10px !important;
  }
}
@media only screen and (max-width: 768px) {

}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  	/*.scroll-div{
  		height:320px;
  		overflow: scroll;
  	}*/
}
.order_not_found { background: #ec7676 none repeat scroll 0 0;padding: 13px 60px!important;color: #000; }
.order_found { background: #5cb85c none repeat scroll 0 0;padding: 13px 60px!important;color: #000; }
#already_exist {  background: #ec7676 none repeat scroll 0 0;padding: 13px 60px;color: #000; }

/********************************END*****************************/

/*Css On 2sept */
.check { opacity:0.5;
        color:#996;	
        border: 3px solid #188ae2;
	   }

.img-check {
	         width: 169px !important; 
             height: 153px !important;
            }

#department_view_order .table-responsive{ overflow-x: scroll; }
#select2-itemName-5q-container
{
	display: none;
}

.creat-bottom .form-group { margin-bottom: 0px; }

.creat-bottom .date { margin-bottom: 15px; }

#hallmarking_sent_frm input{
	color:gray;
}

.table-rep-plugin .table-responsive{
/*overflow-x:scroll;*/
}
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
 
  color: black;
  text-align: right;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
.float_btn{
	position: fixed;
    bottom: 4px;
    z-index: 1;
}
.number-size {
    margin-top: 0;
}
table.table{
	width: 100% !important;
}
.dataTables_wrapper {width: 100%;}
.card-box.box-shadow, .box-shadow {    
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}




a.ExpandMenu {
    margin-right: 15px;
    font-size: 22px;
    color: #32388a;
}
.hoverSubmenu{
    width: 250px !important;
    position: absolute !important;
    max-height: 500px;
    overflow-y: auto;
}

li.has_sub.hoverSubmenuPatents:hover ul.list-unstyled.hoverSubmenu{
    display: block !important;
    position: absolute !important;
    left: 45px;
    top: 46px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
}
 li.has_sub.hoverSubmenuPatents:hover>a{
    display: block !important;
    left: 45px !important;
    position: absolute !important;
    width: 250px !important;
    top:0;
    /*background-color: #30378f !important;*/
}
li.has_sub.hoverSubmenuPatents:hover>a>span{
    display: inline-block !important;
    color: #fff !important;
}

li.has_sub.hoverSubmenuPatents:hover .menu-arrow{
    -ms-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}
li.has_sub.hoverSubmenuPatents:hover ul.list-unstyled.hoverSubmenu a{
    display: block !important;
}
.hoverSubmenu li a.waves-effect {
    left: 0 !important;
}
.sidebar-inner  #sidebar-menu  ul ul.hoverSubmenu a{
    padding: 12px 27px 10px 10px;
}
.fullscreen .sidebar-inner.slimscrollleft, .fullscreen .slimScrollDiv{
	overflow: visible !important;
}


td a.btn-sm {
    display: inline-block;
    text-transform: uppercase;
}
.table-bordered > tbody > tr > td,table.dataTable td { white-space: nowrap; }
/* td a.btn-sm:first-child{
	margin-right: 5px;
} */
/*table#user_access tr th:nth-child(3) {
    width: 400px !important;
}
table#user_access tr th:nth-child(3) {
    width: 400px !important;
}*/
.tranBG {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    z-index: 1;
    display: none;
    right: 0;
    left: 0;
}
.stikySection.affix{
    width: 81.7%;
    height: auto;
    right: 15px;
    top: 75px;
    background-color: #fff !important;
    display: block;
    z-index: 1;
    padding: 21px 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.custdatatable .form-control {
    border: 1px solid #eee;
    margin-left: 0px;
    padding: 3px 5px !important;
    height: 28px;
    width: 65px;
}
button.btn.btn-success.pull-right.m-t-10 {
    margin-bottom: 15px;
    margin-right: 14px;
}
 button#hide, button#show{
 	margin-bottom: 15px;
 }
 .stikySection .form-control, .stikySection .btn-primary{
    margin-bottom: 5px;
}

table.table th{	
	white-space:nowrap;
	font-weight: normal;
}
table.table td . {
    margin-bottom: 10px;
    float: left;
    border-radius: 0 !important;
}
.btnCenter {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnCenter .btn:first-child{
	margin-right: 5px;
}

.btnSection { width: 100%; }
.btnSection .btn-default,.btnSection .btn-default:hover  {   
    background: transparent !important;
    border: 0 !important;
    box-shadow: none;}
.btnSection .btn-default { text-decoration: underline;color: #30378f }    
.txtfilter.form-control  { height: 36px; }

.large_logo   { width: 220px !important;height: 75px;margin-left: 0 }
.small_logo   { width: 40px !important;height:40px;margin-left: -30px;margin-top: 5px; }
.small_logo a img.desktopLogo,.large_logo a img.small_logo,.logoBox a img.small_logo { display: none; }
.logoBox a img.desktopLogo,.logoBox.small_logo  a img.small_logo { display: block ; }
.logoBox.small_logo  a img.desktopLogo { display: none !important }
.header-title span  { width: 30%;float: left; }
.header-title span#shortlist_count  { float: right;width: 82%; }
.whiteBg  { background-color: #fff }

/*button color*/
.btnFilter    { display: inline-block;margin-top: -6px; }
.btn-default  { background-color: rgba(174, 176, 177, 0.3);border-color: rgba(162, 164, 165, 0.5);}

.btn-import       { background-color: #9b60b3;color: #fff }
.btn-import:hover { background-color: #864b9e;color: #fff }

.btn-fetch        { background-color: #2980B9;color: #fff;border: 1px solid #0C74BD }
.btn-fetch:hover  { color: #fff ;background-color: #1181CF}

.btn-hide         { background-color: #CF5611;color: #fff; border:1px solid #CB510B;}
.btn-hide:hover   { background-color:#CB510B;color: #fff;  }

.btn-receive       { background-color: #CB0B7F;color: #fff;border:1px solid #C8087C;font-size: 12px; }
.btn-receive:hover { background-color: #E52197  ;color: #fff }

.btn-shortlist    { background-color: #EC7063;color: #fff;border:1px solid #C0392B; }
.btn-shortlist:hover { background-color: #F1948A; color: #fff;border:1px solid #C0392B; }

    
 
.ms-options-wrap > button{border-radius: 4px;height: 37px;}
.ms-options-wrap > .ms-options{left: 10px;width: 90%;}
#Upload_product_excel .control-label{text-align: right;}
#assign_kamgar_order .control-label{text-align: right;}
.reprint-blank{height: auto;}
.sticky-btn{position: fixed;bottom: 6%;right: 3%;}
.sticky-back{left: 23%;}
.print_area{clear: both;}
.qc_print_img{width: 230px;height: 200px;}
.stock-check{padding: 15px;}
.ui-autocomplete{height: 280px;overflow-y: auto;}
.qty-input{width: 57px !important;}
.wt-input{width: 57px !important;}
.custdatatable .form-control.k-gold{width: auto;}
.view-img{width: 190px;height: auto;max-height: 180px;}
.view-video{width:280px;height:225px;}
.text-right{text-align: right !important;}
.clearfix{clear: both;}

a.edit_link:hover, a.delete_link:hover, a.view_link:hover , a.accept_link:hover{text-decoration: underline;}
.edit_link{color: #5bc0de;}
.delete_link{color: #ff4242;}
.view_link{color: green;}
/*.btn-link{font-size: 12px !important;padding:0!important;}*/
.accept_link{color: #5b69bc;}
.cancel_link{color: #808080e0}


.chosen-container-single .chosen-single{
	border: 1px solid #E3E3E3 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    background: #fff !important;
    height: 38px !important;
    padding: 6px 0 0 8px !important;
}
.chosen-container-single .chosen-single div b{
    background: url(../images/chosen-sprite.png) no-repeat 0px 6px !important;
}
.product_listing:last-child {
    margin-bottom: 25px;
}





