
/*body {
    font-family: 'proxima_nova_altregular';
}

h1, h2, h3, h4, h5, h6, .header-title, .active {
    font-family: 'proxima_nova_altregular';
}*/


.user-box h5.user-title a {
	/*color: #393939;*/
    color: #d4ac67;
    font-size: 18px;
    font-weight: 600;
}

.user-box .user-type {
    margin: 0;
    color: #717070;
    font-size: 16px;
}

.side-menu #sidebar-menu .subdrop {
	border-left: none;
    background: #30378f;
    color: #fff;
}

.checkbox-purpal input[type="checkbox"]:checked {
     background-color: #30378f;
     border-color: #30378f;
}

.checkbox-purpal input[type="checkbox"]:checked + label::before {
     background-color: #30378f;
     border-color: #30378f;
}

.checkbox-purpal input[type="checkbox"]:checked + label::after {
    color: #ffffff;
}

.side-menu #sidebar-menu ul li {
	/*background: #ecf0f7;*/
    /*background: #30378f;*/    
    border-bottom: 0px solid #ddd;
    width: 250px;
}

.side-menu #sidebar-menu ul li.hoverSubmenuPatents {
    width: unset;
}

.sidebar-inner #sidebar-menu  ul  li span a {
    color: #fff;
    padding: 15px 0px 15px 6px !important;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    /*line-height: 2.3;*/
    display: inline-block;
    border: none;
}

#sidebar-menu li span {
    padding-right: 0px;
    padding-left: 0px;
}

#sidebar-menu a {
    line-height: 1;
}

.side-menu #sidebar-menu ul ul li, .side-menu #sidebar-menu ul ul {
	background: #242a33;
    width: 100%;
    border-bottom:0px solid rgba(187, 187, 187, 0.42);
}


.side-menu #sidebar-menu > ul > li > a {
    background: #242a33;
    font-weight: normal;
    padding: 15px 0px;
    padding-left: 5px;
    margin: 0px;
    width: 205px;
    display: inline-block;
    float: right;
    font-size: 17px;
}

.sidebar-inner #sidebar-menu ul ul a {
    padding: 12px 27px 10px 45px;
}

.side-menu #sidebar-menu ul ul a:hover {
    color: #797eb6;
}

.side-menu #sidebar-menu > ul > li > a.active {
	border-left: none; 
	color: #363737 !important;
	font-weight: 600;
}

.side-menu #sidebar-menu ul ul li.active a {
    color: #ffffff;
}

.side-menu #sidebar-menu ul ul li:hover,.side-menu #sidebar-menu ul ul li.active {
    background: rgba(48, 55, 143, 0.72);
    color: #fff;
}

.side-menu #sidebar-menu ul ul li a:hover,.side-menu #sidebar-menu ul ul li a.active {
    color: #fff;
}

/*Header left side css here*/

#wrapper .topbar .topbar-left {
	height: 75px;
    padding-top: 5px;
}

.topbar .topbar-left .logo {
  /*   height:40px !important;*/
  margin-top: 10px !important; 
}

/*Header right side css here*/

.fixed-left .content-page .content {
    padding: 0px;
    margin-bottom: 45px;
    /*margin-top: 45px;
    background: #e2e6ef;*/
    width: 100%;
}

.topbar .navbar-default {
	/*background: #e1e5ee;*/
    background: #ffffff;
	/*padding-right: 40px;*/
}

.topbar .navbar .nav .zmdi, .topbar .navbar .nav .glyphicon {
    font-size: 30px;
    margin-top: 0;
    margin-right: -10px;
    line-height: 2;
}

.topbar .navbar-default .navbar-nav>li>a, .notification_bell_wrap .zmdi-notifications-none:before {
    color: #797eb6;
}

.navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 30px;
    margin: 0px;
}

#not_count #notification_count {
	right: 12px;
}

.navbar-nav.logOutDiv::before {
	content: " ";
	border-left: 0px solid #c6c8df;
	padding-top: 75px;
	position: absolute;
}

.dsk {
	margin-top: 10px;
	margin-right: 50px;
}

.dsk .app-search .form-control, .dsk .app-search .form-control:focus {
	width: 300px;
    color: #565656;
	background: #ced0eb;
	border: 1px solid #ced0eb;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
}

.topbar .navbar .nav .profile-log .ams-header-logout-link .zmdi {
    font-size: 23px;
    margin-top: 0;
    margin-right: 7px;
    line-height: 1;
}

.profile-text {
    color: #30378f;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
}

.header-top .profile-log {
    left: auto;
    right: initial;
    margin-left: 14px;
}

.profile-log>li {
    line-height: 20px;
}

.profile-log .navbar-content {
    margin: 0 6px;
}

.profile-log .navbar-content a {
    font-size: 16px;
    color: #30378f;
}

/*Body Section*/

/*.breadcrumbs {
    top: 70px;
    position: relative;
        padding: 10px;
    z-index: 9;
    background: #e2e6ef;
}*/

.breadcrumbs ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 17px;
}

.breadcrumbs ul li {
    font-size: 15px;
    /*margin-right: 10px;*/
    display: inline-block;
    text-transform: capitalize;
    margin: 10px 0 0 0;
}

.breadcrumbs ul li a {
    padding: 5px 0 2px;
    /*border-bottom: 2px solid #d4ac67;*/
    color: #30378f;
    font-size: 15px;
        /*background: #fff;
    padding: 5px 30px;
    border-radius: 17px;
    box-shadow: 2px 2px 2px #ccc;*/
}

.breadcrumbs ul li:not(:last-child):after {
    content: '>';
    display: inline-block;
    position: relative;
    color: #30378f;
    margin: 0 7px;
}
.absolute{
    position: absolute !important;
}
.relative{
    position: relative !important;
}


h4 {
	text-transform: uppercase;
}

.dataTable {
    background: #fff;
}

.table img {
    width: 120px;
    max-height: 66px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-15 button {
    margin-left: 8px;
}

.m-t-3 {
    margin-top: 7px; 
}

.m-t-2 {
    margin-top: 0px; 
}

.m-row-20 {
    margin: 0 -20px;
}

.padmobile .header-title.p-b-20 {
    padding-bottom: 20px;
}

.catlog-details {
	margin-left: 12px;
}

.card-box.padmobile {
	margin: 0px;
    /*padding: 20px;*/
}



/*.padmobile .m-t-0 {
	margin-top: 20px !important;
}*/

.box-shadow h4.header-title.m-t-0 {
     margin-top: 0px !important;
     text-transform: none;
}

.padmobile .header-title {
	margin-top: 20px;
	padding-bottom: 0px;
}

.padmobile .header-title.business_manager_header_title {
    display: inline-block;
    margin-top:0px;
}


.dash-box.card-box {
	height: 122px;
    width: 100%;
    float: left;
}

.card-box.box-shadow .header-title {
	text-align: left;
	margin-bottom: 0px;
}

.card-box-wrap .card-box {
	background-color: #fff;
    box-shadow: none;
    padding: 0;
}

.card-box-wrap .card-box.dash-board {
    background-color: #fff;
    padding-top: 0;
}

.no_pad {
	padding-right: 0px;
	padding-left: 0px;
}

.marg_bottom {
	margin-bottom: 15px;
}

.marg_top-bottom {
	margin-top: 0px;
	margin-bottom: 15px;
}

.bg-light-gray {
	background-color: #e1e5ee;
}

.number-size {
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
}

.light-blue-font {	
	color: #6595f6;
}

.light-red-font {	
	color: #e70026;
}

.light-orange-font {	
	color: #f7a96b;
}

.light-green-font {    
    color: #008000;
}

.card-box .widget-chart-1 .widget-detail-1 {
	text-align: center;
	margin-left: 0px;
}

.label-gray {
	/*background-color: #ecf0f7;*/
}

.number-size + .label {
	vertical-align: top;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
  }

/*.btn {
    font-size: 14px !important;
    text-transform: uppercase !important;
   }*/

.btn.btn-purple {
    padding: 3px 15px;
    /*line-height: 35px;*/
    /*font-size: 19px;*/
    background-color: #797eb6;
    border: 1px solid #797eb6;
    /*width: 249px;*/
}
.{
    border-radius: 2px !important;
    margin-right: 5px;
    margin-bottom: 5px;
}
.btn-purp, .btn.btn-primary {
    /*font-size: 12px;*/
    text-transform: uppercase;
    color: #fff;
    background-color: #5b69bc !important;
    border: 1px solid #5b69bc !important;
}
.btn-purp, .btn.btn-primary.btn-lg {    
    text-transform: uppercase;
    color: #fff;
    background-color: #5b69bc !important;
    border: 1px solid #5b69bc !important;
}

.btn-purp:hover, .btn-purp:focus, .btn-purp:active,
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background-color: #4a59b4 !important;
    border: 1px solid #4a59b4 !important;
    color: #fff !important;
}

.card-box.box-shadow, .box-shadow {
    background: #fff;
    box-shadow: 2px 2px 22px -10px rgba(5,33,51,0.55);
}

.but-sec {
	margin-bottom: 20px;
}

.but-sec .col-md-4 {
	width: 29.333333%;
}

.section-2 {
	padding: 15px 0 10px 10px;
}

.section-2 img {
    width: 130px;
    opacity: 0.8;
}

.col-md-10.product-box {
	display: inline-block;
	float: none;
}

.product-box {
	text-align: center;
    /*margin: 0 auto;*/
    border-bottom: 1px solid #e2dddd;
    padding-bottom: 25px;
}

.product-box .col-lg-4 {
    width: 32.333333%;
    display: inline-block;
    float: none;
    vertical-align: top;
}

/*Data table search*/

.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
     margin-bottom: 10px;
}

div.dataTables_filter input, div.dataTables_filter input:focus {
    width: 300px !important;
    border: none;
    border-bottom: 2px solid #d7dde7;
    background: transparent;
    border-radius: 0px;
    padding-left: 36px;
    padding-top: 4px;
    margin-left: 0.1em !important;
    font-size: 17px;
}

.dataTables_filter label i {
    position: absolute;
    top: 32%;
    left: 2%;
}

.dataTables_filter label:after {
	content: "";
   /* background: url(../images/search-icon.png) no-repeat;*/
    width: 17px;
    height: 19px;
    top: 20px;
    left: 20px;
    position: absolute;
    display: inline-block;
}

input,
input::-webkit-input-placeholder {
    line-height: 1;
    color: red;    
} /* Chrome/Opera/Safari */

input,
input::-moz-placeholder {
    line-height: 1.5;
    color: red;
} /* Firefox 19+ */

input,
input:-moz-placeholder {
    line-height: 3;
    color: red;
}  /* Firefox 18- */

input,
input:-ms-input-placeholder {
    line-height: 3;
    color: red;
} /* IE */


/*table formate css*/

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ebeff2;
    background-color: #f4f8fb;
}

/*table > thead > tr {
	background: #d9dee7;
}

table.dataTable thead > tr > th {
	padding-top: 8px;
	padding-bottom: 8px;
    padding-left: 8px !important;
	font-size: 14px;
}

.table-responsive table.dataTable thead .sorting:after, 
.table-responsive table.dataTable thead .sorting_asc:after, 
.table-responsive table.dataTable thead .sorting_desc:after {
	top: 17px;
}

table > tbody > tr:nth-child(even) {
	background: rgba(217, 222, 231, 0.22);
}*/

.add_senior_manager_button {    
    margin-left: 6px;
    margin-bottom: 5px;
}

/*.table-rep-plugin {
    display: block;
    position: relative;    
}

.add_product_type {
    display: inline-block;
    float: right;
    margin-bottom: -31px;
}*/

/* .btn.btn-info {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 5px;

.btn.btn-info:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
} */

table .btn.btn-info  { margin-bottom: 0 }


/*pagination css*/

div.dataTables_paginate {
	padding-right: 0px;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #797eb6;
    border-color: #797eb6;
}

.btn-danger {
    background-color: #ff5b5b !important;
    border: 1px solid #ff5b5b !important;
}

/*Form css*/

/*.form-control,
.form-control:focus {
    height: auto;
    padding: 7px 7px 7px 10px;
    border-bottom: 1px solid #2d398d;
    border-radius: 0px;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    -webkit-border-bottom: 1px solid #2d398d;
    -webkit-border-right: 0px;
    -webkit-border-top: 0px;
    -webkit-border-left: 0px;
    -moz-border-bottom: 1px solid #2d398d;
    -moz-border-right: 0px;
    -moz-border-top: 0px;
    -moz-border-left: 0px;
    -moz-border-radius: 0px;
    background: transparent;
}*/

.col-sm-5 select { 
    /*appearance:none;
    -moz-appearance:none; /* Firefox */*/
    /*-webkit-appearance:none; /* Safari and Chrome */    
}

.form-group div.col-sm-5 select {   
    /*overflow: hidden;*/
    /*overflow: -moz-hidden-unscrollable;*/
    /*background: url(../images/down-arrow.png) no-repeat right transparent; */  
    display: inline-block;
    position:relative;
}


.col-sm-5 select {
    background: transparent;
    /*-webkit-appearance: none;*/   
    left: 0;
    top: 0;
}

select option {    
    background: #fff;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/*select option[value="1"] { 
    background: rgba(100, 100, 100, 0.3);
}*/
/* value not val */

/*select option[value="2"] { 
    background: rgba(200, 200, 200, 0.3);
}*/
/* value not val */



.form-horizontal .form-group .control-label {
    padding-top: 0px;
    text-align: left;
}
.userFrm .form-group label{ text-align: right !important }
.drop ul { 
    height: 30px;
    width: 250px;    
    background: url(../images/down-arrow.png) no-repeat right transparent;   
    display: inline-block;
    /*position:relative;*/
}
.drop ul li { 
    padding: 5px 10px; 
    z-index: 2;     
}
.drop ul li:not(.init) { 
    float: left; 
    width: 250px; 
    display: none; 
    background: #ddd; 
    position: relative; 
}
.drop ul li:not(.init):hover, ul li.selected:not(.init) { 
    background: #6595f6; 
    color: #fff;
    cursor: pointer; 
}
.drop li.init { 
    cursor: pointer; 
    border-bottom: 1px solid #2d398d;
}

a#submit { 
    z-index: 1; 
}



/*Prepare_order*/

.load_html .check-box img {
    /*min-width: 100%;*/
    height: 103px;
}

.load_html .check-box div.PREPARE_check {
    position: absolute;
    top: 0;
    right: 15px;
}

.load_html p {
    margin-bottom: 0px;
    font-size: 14px;
} 

.checkbox.PREPARE_check label {
    padding-left: 0px;
}

/*.load_html div.col-lg-6:nth-child(odd) {
    border-right: 1px solid #d4ac67;
    border-bottom: 1px solid #d4ac67;
}

.load_html div.col-lg-6:nth-child(even) {
    border-bottom: 1px solid #d4ac67;
}*/


/*Receive Products*/

#tbl .form-control{
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
}

/*Receive Products End*/

/* new added css*/
.col-sm-4.order_id {
    /*margin: 7px 0 0 0;*/
}
/*.table-responsive {
    overflow-x: scroll !important;
}*/

#product_approval_search {
    /*margin: -25px 0 0 0 !important;*/
}
.txt-box {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 0 -4px 0;
    height: 30px;
}

/*textarea {
  resize: none !important;
}*/


#Receive_pieces>tbody>tr>td:last-child {
    text-align: left;
}



#show_approved_pieces>thead>tr>th:last-child {
    text-align: center;
}

/*.pd-lft {
    padding: 7px 7px 7px 7%!important;}
}*/
.txt-left {
    text-align: left !important;
  }

form .table-responsive {
    overflow-x: auto;
}
/* Upload Product choose file*/

.Choose-new {
 border-radius: 3px;
 font-size: 15px
}

.Choose-new div {
 text-align: left;
 color: #abb2bf
}

.Choose-new div span {
 color: #4CAF50
}

.Choose-new div.r div:first-of-type {
 margin-top: 5px
}

.Choose-new div.r div:last-of-type span {
 color: #d19a66
}

.Choose-new input {
 display: none
}

.custom-file-upload {
   border: 0px solid #5b69bc;
   border-radius: 2px;
   display: inline-block;
   padding: 0;
   cursor: pointer;
   background-color:transparent/*  #5b69bc */;
   color: #FFF;
}

.print_area.stick label {
    margin-bottom: 0;
}
.barcode_text {
    color: #000;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
.load_html input
{
    line-height: 1.5;
    width: 100px;
    color: #797979;
}
#prepare_order_submit
{
    position: fixed;
    z-index: 10000;
    bottom: 10px;
    left:60%;
}
#prepare_order_edit
{
    position: fixed;
    z-index: 10000;
    bottom: 10px;
    left:48%;
}

.error_prepare_order {
    position: absolute;
    display: inline-block;
    bottom: -5px;
    left: 15px;
}
#Karigar_product_list td:last-child ,
#Engaged_karigar_list td:last-child ,
#Products_sent td:last-child  {
    text-align: right;
}

.card-box-wrap>.panel-default>.panel-heading.frmHeading,.frmHeading{
    background-color:transparent;
    border-bottom:1px solid #ddd !important;
}
.panel-heading .btn{margin-top: 4px;}
.frmHeading  {
    background-color:transparent;
    border-bottom:1px solid #ddd !important;
    margin: 0 0 17px !important;
    text-transform: uppercase;
    display: block !important;
}
.frmHeading h4 small { color: #fff }
.frmHeading h4 span,h4.frmHeading span,.padmobile .frmHeading h4 span { font-size: 19px;color: #398bf7;text-transform: uppercase; font-weight: 200 }

.frmHeading span.business_manager { display: block;width: 100%;padding:19px 0 19px 20px;color: #ffffff; }
/*.card-box-wrap>.panel-default>.panel-heading.frmHeading h4,.frmHeading h4 { line-height:22px;font-size: 19px;color: #ffffff;margin: 5px 0 !important }*/
.card-box-wrap>.panel-default>.panel-heading.frmHeading h4,.frmHeading h4 { line-height:22px;font-size: 19px;color: #398bf7;margin: 5px 0 !important }
.padding0  { padding:0; }
#prev_img, #next_img {
    position: absolute;
    padding: 0px 12px;    
    height: 88%;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
#prev_img{
    float: left;
    left: -25px;

}
#next_img{
    float: right;
    right: -25px;
}
#prev_img i.fa, #next_img i.fa{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
#modal_img_tag{
    width: 100%;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0px 0;
    padding-top: 40px;
}
.modal .modal-dialog .modal-content .modal-footer{
    border-top: 0;
}
#img_modal .modal-header {
    padding: 0;
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 1;
    text-decoration: none;
    border: none;
}
#img_modal .modal-header .close {
    font-size: 28px;
    color: #337ab7;
    opacity: 0.8;
}
#send_to_kundan_karigar .modal-footer {
    /* margin-top: 103px; */
    border-top: 0;
}
button#barcode_submit {
    top: -13px;
}
#dispatch_transfered button#barcode_submit{
    top: 0;
}

.dash_box_content { color: #fff;display: table;vertical-align: middle; }
.widget-chart-1   { display: table-cell;vertical-align: middle; }
.white_color_font h4,.white_color_font h2  { color: #fff }
.white_color_font h4{font-weight: 400;font-size: 18px;text-transform: capitalize;}

.padmobile h4 span{
    font-size: 20px;
    font-weight:400;
    color: #32388a;
}

.padmobile h5 span{
    font-size: 22px;
    font-weight: 600;
    color: #32388a;
}


.m-b-20  { margin-bottom: 20px; }

.pink_box,.card-box-wrap .card-box.pink_box          { background-color:#f95e93 }
.darkBlue_box,.card-box-wrap .card-box.darkBlue_box  { background-color:#5c72ec }
.orange_box,.card-box-wrap .card-box.orange_box      { background-color:#fd6054}
.yellow_box,.card-box-wrap .card-box.yellow_box      { background-color:#f9c258}
.red_box,.card-box-wrap .card-box.red_box            { background-color:#f5373d}
.blue_box,.card-box-wrap .card-box.blue_box          { background-color:#41a1ec}
.lightPink_box,.card-box-wrap .card-box.lightPink_box  { background-color: #b05ab9 }
.purple_box,.card-box-wrap .card-box.purple_box        { background-color: #7d3d84; }
.dark_purple_box,.card-box-wrap .card-box.dark_purple_box    { background-color: #9868ef; }
.green_box,.card-box-wrap .card-box.green_box          { background-color: #06d79c !important; }
.grey_box,.card-box-wrap .card-box.grey_box            { background-color: #868e96!important;}
.darkGreen_box,.card-box-wrap .card-box.darkGreen_box  { background-color: #4CAF50 }
.upload-btn{background-color: #008080;border: 1px solid #008080;color: #fff;}
.upload-btn:hover{color: #fff;}
.more-btn{background-color: #F44336;color: #fff;}
.more-btn:hover{color: #fff;}
.btn-tag{background-color:#ff8a80;border: 1px solid #ff8a80;}
.yellowGold_box, .card-box-wrap .card-box.yellowGold_box {background-color: #dca727;}


.card{position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,.125);*/
    /*border-radius: .25rem;}*/
}

.card-no-border .card {
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    min-height: 120px;
}

.card .card-title {
    position: relative;
    margin-left: 5px;
    margin-bottom: .75rem;
    font-size: 2rem;
}
.lstick {
    width: 2px;
    background: #398bf7;
    height: 30px;
    margin-left: -20px;
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
}



.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #f39c12;
  border-color: #e67e22;
}
.btn-cancel{background-color: #808080e0;color: #fff;border-color: #808080e0;}
.btn-cancel:hover{background-color: grey;color: #fff;}